%p#notice= notice

%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Twitter:
  = @user.twitter
%p
  %b Facebook:
  = @user.facebook
%p
  %b Website:
  = @user.website
%p
  %b Tagline:
  = @user.tagline

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
